extends layout

block content
  #content
    form(action="/index" method="GET")
      p.form-contents#form-message WHAT YOU WANT TO DO
      p.form-contents
        input(name="text", type="text" placeholder="enter what you do")
      p.form-contents  
        button#button-add(type="submit", value="") add
    
    #list
      button#update(type="submit") update!
      ul#list-ul


block console
  #console
    p= MONGO_URI
    p= formStatus
