doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/javascripts/client.js" type="text/javascript")
  body
    include include/header.jade

    block content
    block console